/*This file contains all application-wide CSS variables.*/

$text-font-stack: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/* Colors */
$color-light-green: #8BC34A;
$color-green: #4CAF50;
$color-blue: #2196F3;
$color-red: #F44336;

$color-curcooma: #FFEB3B;
$color-curcooma-50: #FFFDE7;
$color-curcooma-200: #FFF59D;
$color-curcooma-700: #FBC02D;
$color-curcooma-800: #F9A825;

$color-grey: #9E9E9E;
$color-grey-900: #212121;

/* Heights */
$height-footer: 40px;
$height-header: 40px;


