/*This file contains all styles related to the footer of the site/application.*/
.footer {
	width: 100%;
	height: $height-footer;
	background-color: $color-grey-900;   
  order: 0;  
  flex: 0 1 auto;
  align-self: auto;
}
