/*This file contains all styles related to the main of the site/application.*/
.controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
  height: 160px;
  color: #000;
  border-radius: 0 0 $border-radius-global $border-radius-global;
}
.controls.color-blue-400 {
	background-color: $color-blue-400;
}
.controls.color-pink-400 {
	background-color: $color-pink-400;
}
.controls.color-purple-400 {
	background-color: $color-purple-400;
}
.controls.color-teal-400 {
	background-color: $color-teal-400;
}

